/* The progress bar (scroll indicator) */
.p-progress-bar {
  height: 7px;
  background: var(--bs-info);
  width: 0%;
}

.btn-outline-info:hover{
  color: white;
}

.ck-editor, .ck-editor *{
  font-family: 'Vazir', Arial, Helvetica, sans-serif !important;
}