.register-container{
  margin-top: 3.5rem;

  .form-container{
    .img-register{
      background: url('/public/img/auth/bg-register.jpg') no-repeat center center/cover;
    }

    .form-control::placeholder{
      text-align: right;
    }
  
    input, .btn{
      border-radius: 30rem;
    }
  
    .btn-facebook{
      background: #3b5998;
      color: white;
    }
  
    footer{
      a{
        color: rgb(2, 159, 250);
        font-size: .9rem;
      }
      a:hover{
        text-decoration: underline;
        color: rgb(127, 151, 217);
      }
    }
  }
}
